@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
.test {
	color: red;
}
.menu {
	position: relative;
	display: table;
	width: 100%;
	height: 50px;
	border: 2px solid rgb(41, 116, 190);
	border-radius: 15px;
	background: lightsteelblue;

}
.menu li {
	display: table-cell;
	position: relative;
	border-right: 1px solid #ffffff;
}
.menu li:last-child {
	border-right: none;
}
.menu li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 50px; /* для того чтобы отцентрировать текст по вертикали */
}
.menu li ul {
	display: none;
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.menu li ul li {
	display: block;
	background: lightsteelblue;
	border: 2px solid rgb(41, 116, 190); 
}
.menu li ul li:last-child{
	border-top: none;
	border-right: 2px solid rgb(41, 116, 190); 
}
.menu li:hover ul {
	display: block;
}
/* .main-menu{
	list-style: none;
	text-align: center;
	background: white;
	width: calc(100% - (-99px));
	margin-left: -50px;
}
.main-menu li{
	background-color: lightseagreen;
}
.menu {
	display: inline;
	float: left;

}
.menu ul{
	display:none;
}
.menu ul li{
	list-style: none;
}
.menu:hover ul{
	display: block;
	position:fixed;
	z-index: 99999;
	
}
.menu::after {
	content: "|";
	color: #606060;
	display: inline-block;
	vertical-align:top;
}
.menu a{
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 20px;
	margin: 0 34px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;
} */
.center {
	text-align: center;
}

header {
	font-size: 26px;
	color: rgb(170, 28, 28);
}

footer {
	font-size: 22px;
	color: lime;
}

.block {
	padding: 15px;
}

.block div {
	width: 30%;
	min-height: 200px;
	padding: 15px;
	border: 1px solid black;
	position: relative;
	display: inline-block;
}
